@font-face {
    font-family: 'distant_galaxy';
    src: url('./fonts/DISTGRG_-webfont.woff') format('woff');         
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'distant_galaxy';
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: minmax(50px, 1fr) 10fr;
}

.header {
    background-color: #000;
    color: white;
    font-size: 1.3rem;
    display: grid;
    grid-template-columns: 60% 40%;
}

.title {
    font-size: 1.8rem;
    align-self: center;
    padding-left: 20px;
}

.pages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
